# Application Settings
APP_NAME=Order Service
APP_VERSION=1.0.0
DEBUG=False

# Server Settings
HOST=0.0.0.0
PORT=8000

# PostgreSQL Database Settings
POSTGRES_HOST=postgres-postgresql.postgres.svc
POSTGRES_PORT=5432
POSTGRES_USERNAME=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DATABASE_NAME=student_Tweek36-order-service-postgres
# Optional: полная строка подключения (если указана, используется вместо отдельных параметров)
# POSTGRES_CONNECTION_STRING=postgresql://user:password@host:port/dbname

# Logging
LOG_LEVEL=INFO
